<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>

  <% if (username) { %>
    <h3>Hello, <%= username.email %></h3>
    <form method="POST" action="/logout">
      <button type="submit" class="btn btn-primary"> Logout </button>
    </form>

  <% } else { %>
    <h3>Hello!</h3>
    <a href="/register">Register</a> |
    <a href="/login">Login</a>
<!-- remove login form from header -->
<!--   <form method="POST" action="/login">
    <input class="form-control" type="text" name="username" placeholder="User Name" style="width: 300px; margin: 1em">
    <button type="submit" class="btn btn-primary"> Login </button>

  </form> -->
  <% } %>

</head>