<% include ./partials/_header %>
<body style="font-size:20px; padding:50px;">
    <!-- Add EJS code here -->
    <h1>Tiny App</h1>
    <a href="#">Create New TinyURL</a>
    <br>
    <br>
    <p><strong>My URLs</strong></p>
  <% for (let key in urls) { %>
    <li> <%= key %>: <%= urls[key] %></li>
  <% } %>

</body>
</html>

<!--
  "b2xVn2": "http://www.lighthouselabs.ca",
  "9sm5xK": "http://www.google.com" -->