
<body style="font-size:20px; padding:50px;">

  <% include ./partials/_header %>

    <h1>Tiny App</h1>
    <a href="#">Create New TinyURL</a>
    <br>
    <br>
    <p><strong>TinyURL for <a href= <%= longURL %> > <%= longURL %> </a></strong></p>
    <p> <%= shortURL %> </p>

</body>