<body style="font-size:20px; padding:50px;">

  <% include ./partials/_header %>

  <form method="POST" action="/login">
    <input class="form-control" type="email" name="user_id" placeholder="Your E-mail" style="width: 300px; margin: 1em">
    <input class="form-control" type="password" name="password" placeholder="Password" style="width: 300px; margin: 1em">
    <button type="submit" class="btn btn-primary"> Login </button>
  </form>

</body>