<body style="font-size:20px; padding:50px;">

  <% include ./partials/_header %>

  <h1>Tiny App</h1>
  <br>
    <p><strong>Register</strong></p>
    <form method="POST" action="/register">
      <input class="form-control" type="email" name="email" placeholder="E-mail" style="width: 300px; margin: 1em">
      <input class="form-control" type="password" name="password" placeholder="Password" style="width: 300px; margin: 1em">
      <button type="submit" class="btn btn-primary"> Register </button>
    </form>

</body>
</html>